@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700,700italic|Open+Sans:800");
@font-face {
  font-family: "Nexa-XBold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/Fontfabric - Nexa-XBold.otf") format("opentype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62587bf34a30c51dd8c28a5a.62587bf6bdc39179d8506025.vXVtG4H.rcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
